https://github.com/alexeygrigorev/data-science-interviews/blob/master/technical.md#coding-python

1) FizzBuzz. Print numbers from 1 to 100

    If it’s a multiplier of 3, print “Fizz”
    If it’s a multiplier of 5, print “Buzz”
    If both 3 and 5 — “Fizz Buzz"
    Otherwise, print the number itself

Example of output: 1, 2, Fizz, 4, Buzz, Fizz, 7, 8, Fizz, Buzz, 11, Fizz, 13, 14, Fizz Buzz, 16, 17, Fizz, 19, Buzz, Fizz, 22, 23, Fizz, Buzz, 26, Fizz, 28, 29, Fizz Buzz, 31, 32, Fizz, 34, Buzz, Fizz, ...

In [ ]:
for i in range(1, 101):
    if i % 3 == 0 and i % 5 == 0:
        print('Fizz Buzz')
    elif i % 3 == 0:
        print('Fizz')
    elif i % 5 == 0:
        print('Buzz')
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
Fizz Buzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
Fizz Buzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
Fizz Buzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
Fizz Buzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
Fizz Buzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
Fizz Buzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

2) Factorial. Calculate a factorial of a number

    factorial(5) = 5! = 1 * 2 * 3 * 4 * 5 = 120
    factorial(10) = 10! = 1 * 2 * 3 * 4 * 5 * 6 * 7 * 8 * 9 * 10 = 3628800

In [ ]:
def factorial(n):
    result = 1
    for i in range(2, n + 1):
        result *= i
    return result

In [ ]:
def factorial(n: int):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

In [ ]:
factorial(10)

3628800

3) Mean. Compute the mean of number in a list

    mean([4, 36, 45, 50, 75]) = 42
    mean([]) = NaN (use float('NaN'))

In [ ]:
def mean(numbers):
    if len(numbers) > 0:
        return sum(numbers) / len(numbers)
    return float('NaN')

In [ ]:
mean([4, 36, 45, 50, 75])

42.0

4) STD. Calculate the standard deviation of elements in a list.

    std([1, 2, 3, 4]) = 1.29
    std([1]) = NaN (use float('NaN'))
    std([]) = NaN

In [ ]:
from math import sqrt
from statistics import mean

def std_dev(numbers):
    if len(numbers) > 1:
        avg = mean(numbers)
        var = sum((i - avg) ** 2 for i in numbers) / (len(numbers) - 1)
        std = sqrt(var)
        return std
    return float('NaN')

In [ ]:
std_dev([1, 2, 3, 4])

1.2909944487358056

5) RMSE. Calculate the RMSE (root mean squared error) of a model. The function takes in two lists: one with actual values, one with predictions.

    rmse([1, 2], [1, 2]) = 0
    rmse([1, 2, 3], [3, 2, 1]) = 1.63

In [ ]:
import math

def rmse(y_true, y_pred):
    assert len(y_true) == len(y_pred), 'different sizes of the arguments'
    squares = sum((x - y)**2 for x, y in zip(y_true, y_pred))
    return math.sqrt(squares / len(y_true))

In [ ]:
rmse([1, 2, 3], [3, 2, 1])

1.632993161855452

6) Remove duplicates. Remove duplicates in list. The list is not sorted and the order of elements from the original list should be preserved.

    [1, 2, 3, 1] ⇒ [1, 2, 3]
    [1, 3, 2, 1, 5, 3, 5, 1, 4] ⇒ [1, 3, 2, 5, 4]

In [ ]:
def remove_duplicates(lst):
    new_list = []
    mentioned_values = set()
    for elem in lst:
        if elem not in mentioned_values:
            new_list.append(elem)
            mentioned_values.add(elem)
    return new_list

In [ ]:
remove_duplicates([1, 2, 3, 1])

[1, 2, 3]

In [ ]:
def remove_duplicates2(lst):
    new_list = []
    for elem in lst:
        if elem not in new_list:
            new_list.append(elem)
    return new_list

In [ ]:
remove_duplicates2([1, 2, 3, 1])

[1, 2, 3]

7) Count. Count how many times each element in a list occurs.

[1, 3, 2, 1, 5, 3, 5, 1, 4] ⇒

    1: 3 times
    2: 1 time
    3: 2 times
    4: 1 time
    5: 2 times

In [ ]:
numbers = [1, 3, 2, 1, 5, 3, 5, 1, 4]
counter = dict()
for elem in numbers:
    counter[elem] = counter.get(elem, 0) + 1

In [ ]:
from collections import Counter

numbers = [1, 3, 2, 1, 5, 3, 5, 1, 4]
counter = Counter(numbers)

In [ ]:
counter

Counter({1: 3, 3: 2, 2: 1, 5: 2, 4: 1})

8) Palindrome. Is string a palindrome? A palindrome is a word which reads the same backward as forwards.

    “ololo” ⇒ Yes
    “cafe” ⇒ No

In [ ]:
def is_palindrome(s):
    return s == s[::-1]

In [ ]:
def is_palindrome(s):
    for i in range(len(s) // 2):
        if s[i] != s[-i - 1]:
            return False
    return True

9) Counter. We have a list with identifiers of form “id-SITE”. Calculate how many ids we have per site.

In [ ]:
def counter(lst):
    ans = {}
    for i in lst:
        site = i[-2:]
        ans[site] = ans.get(site, 0) + 1
    return ans

10) Top counter. We have a list with identifiers of form “id-SITE”. Show the top 3 sites. You can break ties in any way you want.

In [ ]:
def top_counter(lst):
    site_dict = counter(lst)  # using last problem's solution
    top_keys = sorted(site_dict, reverse=True, key=site_dict.get)[:3]
    return {key: site_dict[key] for key in top_keys}

11) RLE. Implement RLE (run-length encoding): encode each character by the number of times it appears consecutively.

    'aaaabbbcca' ⇒ [('a', 4), ('b', 3), ('c', 2), ('a', 1)]
    (note that there are two groups of 'a')

In [ ]:
def rle(s):
    ans, cur, num = [], None, 0
    for i in range(len(s)):
        if i == 0:
            cur, num = s[i], 1
        elif cur != s[i]:
            ans.append((cur, num))
            cur, num = s[i], 1
        else:
            num += 1
        if i == len(s) - 1:
            ans.append((cur, num))
    return ans

In [ ]:
rle('aaaabbbcca')

[('a', 4), ('b', 3), ('c', 2), ('a', 1)]

In [ ]:
import itertools

def rle(s):
    return [(l, len(list(g))) for l, g in itertools.groupby(s)]

12) Jaccard. Calculate the Jaccard similarity between two sets: the size of intersection divided by the size of union.

    jaccard({'a', 'b', 'c'}, {'a', 'd'}) = 1 / 4

In [ ]:
def jaccard(a, b):
    return len(a & b) / len(a | b)

13) IDF. Given a collection of already tokenized texts, calculate the IDF (inverse document frequency) of each token.

    input example: [['interview', 'questions'], ['interview', 'answers']]

In [ ]:
from math import log10

def idf1(docs):
    docs = [set(doc) for doc in docs]
    n_tokens = {}
    for doc in docs:
        for token in doc:
            n_tokens[token] = n_tokens.get(token, 0) + 1
    ans = {}
    for token in n_tokens:
        ans[token] = log10(len(docs) / (1 + n_tokens[token]))
    return ans

In [ ]:
import math

def idf2(docs):
    n_docs = len(docs)

    docs = [set(doc) for doc in docs]
    all_tokens = set.union(*docs)

    idf_coefficients = {}
    for token in all_tokens:
        n_docs_w_token = sum(token in doc for doc in docs)
        idf_c = math.log10(n_docs / (1 + n_docs_w_token))
        idf_coefficients[token] = idf_c

    return idf_coefficients

14) PMI. Given a collection of already tokenized texts, find the PMI (pointwise mutual information) of each pair of tokens. Return top 10 pairs according to PMI.

    input example: [['interview', 'questions'], ['interview', 'answers']]

PMI is used for finding collocations in text — things like “New York” or “Puerto Rico”. For two consecutive words, the PMI between them is:

The higher the PMI, the more likely these two tokens form a collection. We can estimate PMI by counting:

In [ ]:
import math

def pmi(docs):
    n_pairs = {}
    n_tokens = {}

    docs = [tuple(doc) for doc in docs]
    for doc in docs:
        for token in doc:
            n_tokens[token] = n_tokens.get(token, 0) + 1

        n_pairs[doc] = n_pairs.get(doc, 0) + 1
        ans = {}
        for pair in n_pairs:
            ans[pair] = math.log2(n_pairs[pair] * (sum(n_tokens.values())) / (n_tokens[pair[0]] * n_tokens[pair[1]]))

        srt = sorted(ans.items(), key=lambda x: x[1], reverse=True)[:10]

    return srt