In [ ]:
########################## ###################################
##### Basic Data Types
# Integer -----> int ----> Whole numbers such as 3,300,200
# Floating Point ---> float ---> numbers with decimal point 3.56,2.45,76.87
# string ---> str ---> ordered sequence of characters
# lists ---> list ---> ordered sequence of objects
#  Dictionaries ---> dict ---> unordered key value pairs {'mykey':'value'}
# Tuples --> tup --> ordered immutable sequence of objects
# sets --> set ---> unorderd collections of unique objects
#  Boolean --> bool --> logical values indicating True or False
# Data type

#Integer

print(1)

1

In [ ]:
print(2+10)  #addition

12

In [ ]:
# multiline string uses triple quote or a tripe single quote
a = """ This data has three types of flower classes: 
    Setosa, Versicolour, and Virginica. The dataset is available in the 
    scikit-learn library, or you can also download it from the UCI Machine 
    Learning Library."""

In [ ]:
print(a)

 This data has three types of flower classes:
    Setosa, Versicolour, and Virginica. The dataset is available in the
    scikit-learn library, or you can also download it from the UCI Machine
    Learning Library.

In [ ]:
print(12/3)

4.0

In [ ]:
x = 55.45

In [ ]:
print(x)

In [ ]:
type(X)

NameError: ignored

In [ ]:
type(x)

float

In [ ]:
print(2+3j)

(2+3j)

In [ ]:
type(2+3j)

complex

In [ ]:
1b = 3

SyntaxError: ignored

In [ ]:
raj kapoor = 56

SyntaxError: ignored

In [ ]:
raj_kapoor = 56

In [ ]:
print(raj_kapoor)

56