Python Coding Interview Questions

https://github.com/Tanu-N-Prabhu/Python/blob/master/Python%20Coding%20Interview%20Prep/Python%20Coding%20Interview%20Questions%20(Beginner%20to%20Advanced).md

1. Converting an Integer into Decimals

In [2]:
import decimal
integer = 10
print(decimal.Decimal(integer))
print(type(decimal.Decimal(integer)))

10
<class 'decimal.Decimal'>

2. Converting an String of Integers into Decimals

In [3]:
import decimal
string = '12345'
print(decimal.Decimal(string))
print(type(decimal.Decimal(string)))

12345
<class 'decimal.Decimal'>

3. Reversing a String using an Extended Slicing Technique

In [4]:
string = "Python Programming"
print(string[::-1])

gnimmargorP nohtyP

4. Counting Vowels in a Given Word

In [5]:
vowel = ['a', 'e', 'i', 'o', 'u']
word = "programming"
count = 0
for character in word:
    if character in vowel:
        count += 1
print(count)

3

5.Counting Consonants in a Given Word

In [6]:
vowel = ['a', 'e', 'i', 'o', 'u']
word = "programming"
count = 0
for character in word:
    if character not in vowel:
        count += 1
print(count)

8

6. Counting the Number of Occurances of a Character in a String

In [7]:
word = "python"
character = "p"
count = 0
for letter in word:
    if letter == character:
        count += 1
print(count)

1

7. Writing Fibonacci Series

In [8]:
fib = [0,1]
# Range starts from 0 by default
for i in range(5):  
    fib.append(fib[-1] + fib[-2]) 

# Converting the list of integers to string
print(', '.join(str(e) for e in fib))

0, 1, 1, 2, 3, 5, 8

8. Finding the Maximum Number in a List

In [9]:
numberList = [15, 85, 35, 89, 125]

maxNum = numberList[0]
for num in numberList:
    if maxNum < num:
        maxNum = num
print(maxNum)

125

9. Finding the Minimum Number in a List

In [10]:
numberList = [15, 85, 35, 89, 125, 2]

minNum = numberList[0]
for num in numberList:
    if minNum > num:
        minNum = num
print(minNum)

2

10. Finding the Middle Element in a List

In [14]:
numList = [1, 2, 3, 4, 5]
midElement = int((len(numList)/2)) 

print(numList[midElement])

3

11. Converting a List into a String

In [15]:
lst = ["P", "Y", "T", "H", "O", "N"]
string = ''.join(lst)

print(string)
print(type(string))

PYTHON
<class 'str'>

12. Adding Two List Elements Together

In [16]:
lst1 = [1, 2, 3]
lst2 = [4, 5, 6] 

res_lst = [] 
for i in range(0, len(lst1)):
    res_lst.append(lst1[i] + lst2[i]) 
print(res_lst)

[5, 7, 9]

13. Comparing Two Strings for Anagrams

In [17]:
str1 = "Listen"
str2 = "Silent"

str1 = list(str1.upper())
str2 = list(str2.upper())
str1.sort(), str2.sort()

if(str1 == str2):
    print("True")
else:
    print("False")

True

14. Checking for Palindrome Using Extended Slicing Technique

In [18]:
str1 = "Kayak".lower()
str2 = "kayak".lower()

if(str1 == str2[::-1]):
    print("True")
else:
    print("False")

True

15. Counting the White Spaces in a String

In [19]:
string = "P r ogramm in g "
print(string.count(' '))

5

16. Counting Digits, Letters, and Spaces in a String

In [20]:
# Importing Regular Expressions Library
import re

name = 'Python is 1'

digitCount = re.sub("[^0-9]", "", name)
letterCount = re.sub("[^a-zA-Z]", "", name)
spaceCount = re.findall("[ \n]", name)

print(len(digitCount))
print(len(letterCount))
print(len(spaceCount))

1
8
2

17. Counting Special Characters in a String

In [21]:
# Importing Regular Expressions Library
import re
spChar = "!@#$%^&*()"

count = re.sub('[\w]+', '', spChar)
print(len(count))

10

18. Removing All Whitespace in a String

In [22]:
import re

string = "C O D E"
spaces = re.compile(r'\s+')
result = re.sub(spaces, '', string)
print(result)

CODE

19. Building a Pyramid in Python

In [23]:
floors = 3
h = 2*floors-1
for i in range(1, 2*floors, 2):
    print('{:^{}}'.format('*'*i, h))

  *
 ***
*****

20. Randomizing the Items of a List in Python

In [24]:
from random import shuffle

lst = ['Python', 'is', 'Easy']
shuffle(lst)
print(lst)

['Easy', 'Python', 'is']