Q1.

In [ ]:
data = [10,20,30,40,50]
data.pop()
print(data)

[10, 20, 30, 40]

In [ ]:
data.pop(2)
print(data)

[10, 20, 40]

Q2

In [ ]:
array1 = [1,2,3,4,5]
array2 = array1
array2[0] = 0
print(array1)

[0, 2, 3, 4, 5]

Q3

In [ ]:
'The {} side {1} {2}'.format('bright', 'of', 'life')

ValueError: ignored

Q4.which python data structures support item assignment

list, tuple

Q5.correct a+, r+,rw, w+ with opening a file in python

rw

Q6.

In [ ]:
l = [1,2,3,4,5]
m = map(lambda x : 2**x, l)
print(list(m))

[2, 4, 8, 16, 32]

Q7.

In [ ]:
class Hello:
   
   def __init__(self, a='Welcome to '):
       self.a = a

   def welcome(self, x):
       print(self.a + x)

h = Hello()
h.welcome("Turing")

Welcome to Turing

Q8

In [ ]:
data = [1,2,3]

def incr(x):
  return x+1

print(list(map(incr, data)))

[2, 3, 4]

Q9

In [ ]:
list1 = [1,2,6,12]
list2 = [12,6,2,1]
print(list1 == list2)
print(set(list1) == set(list2))

False
True

Q10

Given a file object fp, which of the following options returns the current position of a file?

In [ ]:
#fp.tell()

Q11.

Which of the following statements about data in Sets in Python are incorrect?

 (Select all that apply.)

Q12

In [ ]:
class Developer:
   
   def __init__(self):
       self.__seniority = 'Junior'
       self.skills = ''

   def display(self):
       print('Welcome to Turing with {seniority} developer with skill{skills}'.format(seniority=self.__seniority, skills=self.skills))

class NodeJS(Developer):
   
   def __init__(self):
       super().__init__()
       self.__seniority = 'Senior'
       self.skills = 'NodeJS'

c = NodeJS()
c.display()

Welcome to Turing with Junior developer with skillNodeJS

Q13

In [ ]:
f = None
for i in range(5):
   with open("app.log", "w") as f:
     if i>2:
        break

print(f.closed)

True

Q14

In [ ]:
def listSkills(val, list=[]):
    list.append(val)
    return list

list1 = listSkills('NodeJS')
list2 = listSkills('Java', [])
list3 = listSkills('ReactJS')
print("%s" % list1)
print("%s" % list2)
print("%s" % list3)

['NodeJS', 'ReactJS']
['Java']
['NodeJS', 'ReactJS']

Q15

In [ ]:
array = ['Welcome', 'To', 'Turing']
print("-".join(array))

Welcome-To-Turing

Q16. you want to open big file for reading as a binary file. How will you do it?

In [ ]:
#open('file.txt', 'b')

Q17.

In [ ]:
a = [1,2,3,4,5]
b = [sum(a[0:x+1]) for x in range(0, len(a))]
print(b)

[1, 3, 6, 10, 15]

Q18

In [ ]:
def f(x, l=[]):
    for i in range(x):
        l.append(i * i)
    print(l)

f(2)
f(3, [3, 2, 1])
f(3)

[0, 1]
[3, 2, 1, 0, 1, 4]
[0, 1, 0, 1, 4]

Q19

In [ ]:
print(2**(3**2), (2**3)**2, (2**3)**3)

512 64 512

Q20. which is used to print length of each element?

x = ['ab', 'cd']

In [ ]:
x = ['ab', 'cd']
print(list(map(len, x)))

[2, 2]

In [ ]:
x = ['ab', 'cd']
print(list(map(lambda x:len(x), x)))

[2, 2]

Q21

In [ ]:
Y = [2,53,6]
Y.sort()
print(Y)

[2, 6, 53]

Q22

In [ ]:
z = set('abc')
z.add('san')
z.update(set(['p', 'q']))
print(z)

{'san', 'q', 'p', 'c', 'b', 'a'}

Q23.How to copy list?

In [ ]:
data = ['a', 'b', 'c', 'd']
newList = data.copy()

In [ ]:
newList

['a', 'b', 'c', 'd']